*.img
*.example
multistrap.list
multistrap.err
rootfs
rootfs.base
mnt
plugins.txt
*~
*.tmp
*.tar*


plugins/scion/files/etc/default_scion_config/*
!plugins/scion/files/etc/default_scion_config/.gitkeep
